# local .terraform directory
.terraform


# tf state files
*.tfstate
*.tfstate.*

#tf varable files, may include sensitve data
*.tfvars

# ignore crash logs
crash.logs

# Ignore CLI configuration files
.terraformrc
terraformrc